<!DOCTYPE html>
<html>
  <head>
    <title>Event</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: #e3f2fd;">
      <div class="navbar-brand"><%= link_to "Home", root_path %></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
         
          <% if user_signed_in?%>
              <li class='nav-item'>
                <div class="navbar-link">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      My profil
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item color-black" href="<%=new_user_session_path(current_user.id)%>"><p>See my profil</p></a>
                      <a class="dropdown-item color-black" href="<%=edit_user_registration_path%>"><p>Edit my password/email</p></a>
                     
                    </div>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>

        <%unless user_signed_in? %>
          <div class='flex-row'>
                       <div class="navbar-text">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Login/Signup
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item color-black" href="<%=new_user_registration_path%>"><p>Sign in</p></a>
                  <a class="dropdown-item color-black" href="<%=new_user_session_path%>"><p>Login</p></a>
                </div>
              </div>
            </div>
          </div>
        <%else%>
          <div class='flex'>
            
            <span class="navbar-text">
                <p><%=current_user.email%></p>
            </span>
            <span class="navbar-text">
              <%= link_to"Disconnect", destroy_user_session_path , method: :delete, class:"btn btn-danger"%>
            </span>
          </div>
        <%end%>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
